<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add marka</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form ng-submit="addProduct()" ng-init="getProducts()" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="product.name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <input type="text" class="form-control" ng-model="product.model" placeholder="Model" required>
                    </div>
                    <div class="form-group">
                        <label>Marka</label>
                        <select class="form-control" ng-model="product.marka" required>
                            <option ng-repeat="marka in markas" value="{{marka._id}}">{{marka.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" ng-model="product.price" placeholder="Price" required>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" ng-model="product.category" required>
                            <option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" ng-model="product.description" placeholder="Description" required>
                    </div>
                    <div class="form-group">
                        <label class="btn btn-success">Browse
                            <input type="file" file-model="file.upload" ng-model="product.image" name="image" style="display:none;">
                        </label>
                        <br>
                        <br>
                        <img ng-src="../../uploads/images/{{ product.image }}" alt="">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>