<h1><a href="/products/add">Add product</a> | <a href="/">Home</a></h1>
<table class="table table-striped table-dark" ng-init="getProducts()">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Model</th>
            <th scope="col">Marka</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <th scope="row">{{$index}}</th>
            <td>{{product.name}}</td>
            <td>{{product.model}}</td>
            <td>{{product.marka.name}}</td>
            <td>{{product.category.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <a href="/products/edit/{{product._id}}">Edit</a> | 
                <a href="#" ng-click="deleteProduct(product._id)">Delete</a> | 
                <a href="/products/details/{{product._id}}">Info</a>
            </td>
        </tr>
    </tbody>
</table>