<ul ng-init="getProduct()">
    <li>{{product.name}}</li>
    <li>{{product.model}}</li>
    <li>{{product.marka.name}}</li>
    <li>{{product.price}}</li>
    <li>{{product.category.name}}</li>
    <li>{{product.description}}</li>
    <li ng-if="product.image"><img src="../../uploads/images/{{product.image}}" alt=""></li>
</ul>