<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-init="Navbar()">
    <a class="navbar-brand" href="/categories">All categories</a>
    <a class="navbar-brand" href="/markas">All markas</a>
    <a class="navbar-brand" href="/products">All products</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item dropdown" ng-repeat="nav in navs">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{$index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{nav.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown{{$index}}">
                    <ul class="navbar-nav mr-auto">
                        <li ng-repeat="(key, value) in categories | groupBy:'parent' " class="nav-item">
                            <ul>
                                <li ng-repeat="item in value"  ng-if="item.parent == nav._id" class="nav-item">
                                    <div><a class="dropdown-item" href="#">{{item.name}}</a></div>
                                    
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{nav[1].name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{nav[2].name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>