<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit marka</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form ng-submit="updateMarka()" ng-init="getMarka()" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="marka.name" placeholder="Name">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>