<h1><a href="/markas/add">Add marka</a> | <a href="/">Home</a></h1>
<table class="table table-striped table-dark" ng-init="getMarkas()">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="marka in markas">
            <th scope="row">{{$index}}</th>
            <td>{{marka.name}}</td>
            <td>
                <a href="/markas/edit/{{marka._id}}">Edit</a> | 
                <a href="#" ng-click="deleteMarka(marka._id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>