<h1><a href="/categories/add">Add category</a> | <a href="/">Home</a></h1>
<table class="table table-striped table-dark" ng-init="getCategories()">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Parent</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in categories">
            <th scope="row">{{$index}}</th>
            <td ng-if="!category.parent">--------</td>
            <td ng-if="category.parent">{{category.parent}}</td>
            <td>{{category.name}}</td>
            <td>
                <a href="/categories/edit/{{category._id}}">Edit</a> | 
                <a href="#" ng-click="deleteCategory(category._id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>