<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit category</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="updateCategory()" ng-init="getCategory()" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="clickedElement.name" placeholder="Name">
                    </div>
                    <select class="form-control" ng-model="clickedElement.parent">
                        <option value="">Select a parent</option>
                        <option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>